*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.container{
    display: flex;
    padding-top: 24px;
    justify-content: space-between;
    margin: 0 120px;
    max-width: auto;
    align-items: center;
    padding-bottom: 10px;
}
.container ul{
    list-style: none;
    display: flex;
    gap: 20px;}
.container ul li a{
    text-decoration: none;
    color: black;
    font-size: 1em;
}
.container img{
    width: 140px;}

.early-access-button{
    background-color: #30B868;
    color: white;
    width: 170px;
    height: 50px;
    border-radius: 5px;
    font-size: 15px;
    outline: none;
    border: none;
}
.hover:hover{
    transform: scale(1.1);
    transition: 0.2s;
    cursor: pointer;
    background-color: lightblue;
}

.banner{
display: flex;
margin: 0 auto;
flex-direction: column;
align-items: center;
background-image: url(assets/hero-bg.png);
padding-top: 50px;
background-size: cover;
background-position: center;
}

.herotop{
background-color: white;
padding: 4px 10px;
border-radius: 10px;
display: inline-flex;
gap: 10px;
align-items: center;
font-size: 8px;
color: #30B868;
}
.dot{
    height: 6px;
    width: 6px;
    background-color: #30B868;
    border-radius: 50%;
    display: inline-block;
    position: relative;
}

.banner h1{
    padding-top: 10px;
    color: white;
    font-weight: 700px;
}
.banner h1 span{
    color: rgba(48, 184, 104, 1)
}

.banner p{
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-bottom: 20px;
    line-height: 1.6;
    font-size: 12px;
}
.hero-btn{
display: flex;
padding-bottom: 60px;
gap: 10px;
}
.bannerbtn1{
    width: 200px;
    font-size: 14px;
    height: 40px;
    }
.bannerbtn2{
    width: 180px;
    font-size: 14px;
    height: 40px;
}
.cardsec{
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 40px;
}
.cardicon{
    background-color: red;
    border-radius: 100%;
    padding: 7px;
}
.cardsec h1{
    font-size: 35px;
}
.cardsec p{
    padding-top: 15px;
    font-size: 13px;
    padding-bottom: 20px;
    font-size: 12px;
}
.card{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 0 auto;
    max-width: 800px;
    align-items: stretch;
    text-align: center;
    gap: 10px;
}
.allcard{
    align-items: center;
    background-color: white;
    padding: 30px 20px 5px;
    box-shadow: 0 -0.5px 15px rgba(207, 206, 206, 0.644);
}

.allcard h4{
    padding-top: 10px;
    font-size: 13px;
}
.allcard p{
    font-size: 10px;

}

.brain{
    display: flex;
    align-items: center;
    padding: 100px 0;
    margin: 0 auto;
    max-width: 1000px;
    gap: 50px;
}
.brainp1{
    color: #30B868;
    text-transform: uppercase;
}
.brainimg{
    width: 400px;
}
.brain h2{
    padding: 10px 0;
    font-size: 40px;
    text-transform: capitalize;
}
.brainp{
    font-size: 13px;
    max-width: 400px;
    padding: 10px 0;
}
.checktext ul{
    display: flex;
    gap: 10px;
    padding-top: 10px;
}
.ready2think{
    background-color: rgba(247, 246, 242, 1);
    border-radius: 10px;
    width: 1000px;
    max-width: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 60px;
}
.ready2think h2{
    padding-bottom: 10px;
}
.ready2think p{
    font-size: 10px;
}

.r2tbutton{
    margin: 10px;
    display: inline-flex;
    background-color: #30B868;
    padding: 5px 10px;
    align-items: center;
    border: none;
    margin: none;
    border-radius: 5px;
    color: white;
}
.ready2think div button img{
    padding-left: 10px;
}

.footer{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 100px;
    padding-bottom: 20px;
    align-items: center;
    background-color: rgba(0, 25, 49, 1);
    color: white;
    height: 200px;
}
.footerleft{
    margin-left: 200px;
    size: 50px;
}
.footerright{
    width: 100px;
    align-items: center;
    gap: 10px;
    margin-right: 200px;
}
.footerright p{
    padding-bottom: 10px;
}
.footer .footerright img{
    width: 15px;
    background-color: white;
    border-radius: 100%;
    padding: 3px;
}
.footericon{
   border-top: 5px;
  display: inline-block;
}

.copyright{
    margin-top: 50px;
    width: 1000px;
    padding-top: 100px;
    text-align: center;
    max-width: auto;
}
.hr{
    max-width: auto;
    color: 0;
    border: 0;
    background-color: rgba(168, 167, 172, 0.596);
    height: 1px;
    opacity: 0.3;
}