*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.container{
    display: flex;
    padding-top: 24px;
    justify-content: space-between;
    margin: 0 120px;
    max-width: auto;
    align-items: center;
    padding-bottom: 10px;
}
.container ul{
    list-style: none;
    display: flex;
    gap: 20px;}
.container ul li a{
    text-decoration: none;
    color: black;
    font-size: 1em;
}
.container img{
    width: 140px;}

.early-access-button{
    background-color: #30B868;
    color: white;
    width: 170px;
    height: 50px;
    border-radius: 5px;
    font-size: 15px;
    outline: none;
    border: none;
}
.hover:hover{
    transform: scale(1.1);
    transition: 0.2s;
    cursor: pointer;
    background-color: lightblue;
}

.banner{
display: flex;
margin: 0 auto;
flex-direction: column;
align-items: center;
background-image: url(assets/hero-bg.png);
padding-top: 50px;
background-size: cover;
background-position: center;
}

.herotop{
background-color: white;
padding: 4px 10px;
border-radius: 10px;
display: inline-flex;
gap: 10px;
align-items: center;
font-size: 8px;
color: #30B868;
}
.dot{
    height: 6px;
    width: 6px;
    background-color: #30B868;
    border-radius: 50%;
    display: inline-block;
    position: relative;
}

.banner h1{
    padding-top: 10px;
    color: white;
    font-weight: 700px;
}
.banner h1 span{
    color: rgba(48, 184, 104, 1)
}

.banner p{
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-bottom: 20px;
    line-height: 1.6;
    font-size: 12px;
}
.hero-btn{
display: flex;
padding-bottom: 60px;
gap: 10px;
}
.bannerbtn1{
    width: 200px;
    font-size: 14px;
    height: 40px;
    }
.bannerbtn2{
    width: 180px;
    font-size: 14px;
    height: 40px;
}
